*{
    margin: 0;
padding: 0;
}
/* body{width: 100vh;} */
.navBar{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;

}
.navLogo{
    height: 100%;
    width: 40%;
    margin-left: 4%;
    align-items: center;
    display: flex;
   
}
.navOptions{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.navOptions p{
color: azure;
font-size: small;


}
.navLogo img{
    width: 20%;
    height: 25%;
    
}
.photoBox{
    height: 450px;
    width: 100vw;
    position: relative;
}
.photoBox img{
    width: 100%;
    height: 100%;
    
}
.contents{
    height: 300px;
    width: 50%;
    position: absolute;
    margin-left: 4%;
    margin-top: 5%;
}
.details
{
    width: 100;
    height: 180px;
    color: white;
    
}
.button{
    gap:5%;
    display: flex;
}
.watch{
background-color: rgb(255, 10, 10);    
color: white;
border: none;
height:30px;
width: 90px;
border-radius: 45px;
box-shadow: rgb(255, 10, 10) 0px 5px 15px;

}
.addList{
    color: white;
    background-color: rgb(30, 18, 18);
    border: none;
    height: 30px;
    width: 90px;
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h2{
    font-size:50px;
}
.thirdBox{
    height: 150px;
    width: 100%;
   
    background-color: rgb(26, 25, 25);
    
}
.trends{
    height: 60px;
    width: 100%;
    border-bottom:0.3px solid gray;
    border-bottom: lpx;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.categories{
    height: 80px;
    width: 90%;
 gap: 10%;
    display: flex;
    align-items: center;
   justify-content: space-around;
   overflow-x: auto;
   overflow-y: hidden;
   margin-left: 5%;
   
}
.categories::-webkit-scrollbar{
    display: none;
}
.watch1{
    background-color: rgb(255, 10, 10);
color: white;
border: none;
height:35px;
width: 110px;
border-radius: 45px;
}

.trends span{
  color: white;
 font-size: 20px;
}
.trends p{
    color: gray;
}
.last{
   gap: 30px;
    height: 200px;
    display: flex;
    justify-content:space-around ;
    overflow-x: auto;
    overflow-y: hidden;
    background-color:rgb(26, 25, 25);
   
}
.last::-webkit-scrollbar{
    display: none;
}
.suggections{
    height: 180px;
    width: 135px;
    min-width: 150px;

}
.suggections img{
    width: 100%;
    height: 100%;
    align-items: center ;
}
@media only screen and (max-width: 800px) {
    .button {
        margin-top: 140px;
    }
  }
  
@media only screen and (max-width: 800px) {
    .watch {
        background-color: rgb(9, 49, 210);
        box-shadow: rgb(9, 49, 210) 0px 10px 36px 0px, rgb(9, 49, 210) 0px 0px 0px 1px;
    }
  }

@media only screen and (max-width: 800px) {
    .last{
        background-color: rgb(0, 0, 0);
    }
}
@media only screen and (max-width: 800px) {
    .watch1 {
        background-color: rgb(9, 49, 210);
    }
  }

  @media only screen and (max-width: 800px) {
    .addList{
        background-color: rgb(241, 12, 12);
    }
}